.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    margin: 7px 0;
    margin-left: 125px;
    box-sizing: border-box;
}
.form input , .form textarea{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    resize: none;
    font-size: 13px;
}
.form button{
    padding: 10px 20px;
    background-color: #1687ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.form button:hover{
    background-color: #0069d9;
}